<div id="cookieWrapper">
	<div>
		<div id="chocolateChip" class="cookie"></div>
		<div id="chocolateChipText"> Chocolate Chip Cookie </div>
	</div>

	<div>
		<div id="oatmeal" class="cookie"></div>
		<div id="oatmealText"> Oatmeal Raisin Cookie </div>
	</div>

	<div>
		<div id="chocochocoChip" class="cookie"></div>
		<div id="chocochocoChipText">Chocolate Chocolate Chip Cookie</div>
	</div>
	<div>
		<div id="sugar"class="cookie"></div>
		<div id="sugarText">Sugar Cookie</div>
	</div>

	<div>
		<div id="peanutButter" class="cookie"></div>
		<div id="peanutButterText">Peanut Butter Cookie</div>
	</div>
	<div>
		<div id="peanutSandwich" class="cookie"></div>
		<div id="sandwichText">Peanut Butter Sandwich Cookie</div>
	</div>
</div>

<form id="cookieForm" method="get" action="/makecookies">
	<select name="type">
		<option value="Chocolate Chip">Chocolate Chip Cookie</option>
		<option value="Oatmeal Raisin">Oatmeal Raisin Cookie</option>
		<option value="Chocolate Chocolate Chip">Chocolate Chocolate Chip Cookie</option>
		<option value="Sugar">Sugar Cookie</option>
		<option value="Peanut Butter">Peanut Butter Cookie</option>
		<option value="Peanut Butter Sandwich">Peanut Butter Sandwich Cookie</option>
	</select>

	<select name="quantity">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>

	<input type="submit">
</form>