<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	 <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet"> 
</head>
<body>
	<nav class="navbar">
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/cookie"><li>Cookies</li></a>
			<a href="/cake"><li>Cake</li></a>
			<a href="/muffin"><li>Muffin</li></a>
			<a href="/contact"><li>Contact Us</li></a>
		</ul>
	</nav>

<div class="main-container">
	<%= yield %>
</div>


<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>